#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{##########################################
#Purpose:
#Configure Traceroute Command to be executed on the device
#traceroute:
#  type: ipv6
#  vrf: lhcone
#  ipv6_address: 2001:48d0:3001:111::
# OR
#traceroute:
#  type: ipv4
#  vrf: lhcone
#  ipv4_address: 8.8.8.8
#########################################}
{% if traceroute is defined and traceroute %}
  {% if traceroute.type == 'ipv6' %}
traceroute6 {{ traceroute.ipv6_address }}{% if traceroute.vrf is defined and traceroute.vrf %} vrf {{ traceroute.vrf }}{% endif %}
  {% elif traceroute.type == 'ipv4' %}
traceroute {{ traceroute.ipv4_address }}{% if traceroute.vrf is defined and traceroute.vrf %} vrf {{ traceroute.vrf }}{% endif %}
  {% endif %}
{% endif %}
